@media only screen and (max-width: 1024px) {
    .header-pjs {
        width: 90% !important;
    }

    .portfolio-content {
        width: 90% !important;
    }

    .project-card {
        width: 85% !important;
    }
}

/* vietnamese */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/space_mono_viet.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/space_mono_latin_ext.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/space_mono_latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a:link {
    color: inherit;
    text-decoration: none;
} /* unvisited link */
a:visited {
    color: inherit;
    text-decoration: none;
} /* visited link */
a:hover {
    color: inherit;
    text-decoration: none;
} /* mouse over link */
a:active {
    color: inherit;
    text-decoration: none;
} /* selected link */

.main-dark-theme {
    display: flex;
    flex-direction: column;

    /* background: #232741; */
    background: #202124;
    color: #d4dae4;
    width: 100%;
    height: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    outline: none;
    user-select: none;
    overflow: auto;
    font-family: 'Space Mono', monospace;

    /* font-size: large; */
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 0px 35px 35px 35px;
    overflow: hidden;
    user-select: none;
    z-index: 2;
}

.portfolio-content p > img:first-child {
    max-width: 495px;
    width: 100%;
}

.header-pjs {
    height: 180px;
    width: 65%;
    background-image: url("../assets/logo/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    z-index: 1;
    margin-top: 12px;
}

.bg-space-pjs {
    /* position: absolute; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 12px;
    left: 0;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 35%;
    background: #151515;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 24px;
    color: #9f9f9f !important;
    margin-bottom: 18px;
}

.project-card h3 {
    margin: 0px 0px 12px 0px;
    color: white !important;
}

.project-container img {
    width: 100% !important;
    max-width: 400px !important;
}

.project-card-header {
    display: flex;
    flex-direction: row;
    margin: 0px !important;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

.project-card-sub-header {
    margin-bottom: 12px;
}

.project-footer {
    margin-bottom: 24px;
    margin-top: 18px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.margin-bottom-42 {
    margin-bottom: 42px;
}
